<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@200&display=swap" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    {% load static %}
        <link rel="stylesheet" href="{% static 'navbar.css' %}">
        <link rel="stylesheet" href="{% static 'main.css' %}">


        

    <title>atık kütüphanesi</title>
</head>

<body>
    <style>
        
        
    </style>
    
        <nav id="nav">
            <div class="upBanner">
                <div class="logoSide">
                    
                    
                   {% comment %}  <img class="logopng" src="{%static 'imgs/last.png'%}" alt="" srcset=""> {% endcomment %}
                     <img class="logopng" src="{%static 'imgs/logoguncel4.png'%}" alt="" srcset="">
                </div>
                <div class="listSide">
                    <ul>
                        <li><a href="http://127.0.0.1:8000/">Anasayfa</a></li>
                        <li class="special" ><a class="clickable" href="">Atık listesi <i id="arrow" style="margin: 0; padding: 0; color: #1f4e6e; background-color: white;" class="fa-solid fa-caret-down"></i></a>
                            <div class="div1">
                                <ul class="associate">
                                   
                                </ul>
                            </div>
                        </li>
                        <li><a href="http://127.0.0.1:8000/training">Eğitimler</a></li>
                        <li><a href="http://127.0.0.1:8000/contact">Bize ulaşın</a></li>
                        <li><a href="http://127.0.0.1:8000/about">Hakkımızda</a></li>
                    </ul>
                </div>
    
            </div>
            <div class="middleLine"></div>
            {% comment %} <div class="bottom_banner">
                <ul class="associate init">
                    
                </ul> {% endcomment %}
            </div>
        </nav>
    
   <!-- <nav> 
        <div class="banner1">
            

             <div style="position: relative">

                <div class="banner1">
                    <div class="logo">
                          <img src="imgs/SDG Wheel_WEB.png" alt="" srcset=""> 
                          <h4>ATIKKÜTÜPHANESİ</h4> 
                          <img style="height: 6rem; width: 16rem;" src="{%static 'imgs/4yeni.png'%}" alt="" srcset=""> 
                         <img class="logopng" src="{%static 'imgs/atik.png'%}" alt="" srcset="">
                         
                      </div>
                    <ul class="ul">
                        <li><a  class="home" href="">Anasayfa</a></li>
                        <li id="dropDownLi"><a class="a1 a2" href="">Atık Türleri <i id="arrow" style="margin: 0; padding: 0; color: #1f4e6e; background-color: white;" class="fa-solid fa-caret-down"></i></a></li>
                        <li><a class="a1" href="contact">Bize Ulaşın</a></li>
                        <li><a class="a1" href="about">Hakkımızda</a></li>
                        
                    </ul>
                </div>
                <div class="middleLine">
           
                </div>

                <div class="navDrop" style="position: absolute; width: 100wv; height: 1rem;background-color: #1f4e6e;">
                    
                

             </div>
            
        </div>
       
         <div class="navDrop">
            <div style="width: 100vw; height: 1rem; background-color: #1f4e6e;"></div>
            <ul id="blue" class="navDropUl">
                 <li><a href="">atık</a></li>
                <li><a href="">atık</a></li>
                <li><a href="">atık</a></li>
                <li><a href="">atık</a></li>
                <li><a href="">atık</a></li>
                <li><a href="">atık</a></li>
                <li><a href="">atık</a></li>
                <li><a href="">atık</a></li>
                <li><a href="">atık</a></li> 
            </ul>
        </div>

        
    </nav> -->
    <script src="{% static 'js/navbar.js' %}"></script>
</body>

</html>