{% extends "layout.html" %}
{% block body %}
{% load static %}
<link rel="stylesheet" href="{% static 'atiklist.css' %}">
     <div class="sectionPart">
        <div class="sections">
           
            <section id="dangerAtik" class="atiksection">
                <div class="titlesection">
                    <h1>Tehlikeli atık</h1>
                </div>
                <div class="middlesection">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto temporibus quia provident, corporis laboriosam quisquam similique accusamus, recusandae ducimus totam iure, ex odio dignissimos. Quam odit necessitatibus repudiandae error, illum cupiditate eum sed quos amet excepturi consequatur fuga sint provident ullam, exercitationem tenetur dicta sit voluptatum earum perferendis ratione nisi tempora eaque. Iusto, assumenda quis provident amet quidem fugit reiciendis voluptate ducimus odio tempora, vel nobis similique in, dicta rem aspernatur? Nemo deserunt labore quod earum corrupti, totam quisquam dolores nulla iste sed id suscipit, libero, reiciendis eaque? Aut fugit harum cupiditate. Aliquam expedita vitae qui id dolorum commodi molestias.
                </div>
            </section>
            <section id="tibbiatik" class="atiksection">
                <div class="titlesection">
                    <h1>Tıbbi atık </h1>
                </div>
                <div class="middlesection">
                    <div class="contentOfSection">
                        <img src="../imgs/SDG Wheel_WEB.png" alt="" class="sectionImg">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laudantium ducimus aperiam illum quia error magnam veritatis quaerat neque facere.</p>
                    </div>

                    <div class="theLastCodes">
                        <ul class="theLastCodesUl">
                            <li><a href="">dfgffdgdf</a></li>
                            <li><a href="">dfgffdgdf</a></li>
                            <li><a href="">dfgffdgdf</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="ambalajatik" class="atiksection">
                <div class="titlesection">
                    <h1>Ambalaj atıkları</h1>
                </div>
                <div class="middlesection">
                    <div class="contentOfSection">
                        <img src="../imgs/SDG Wheel_WEB.png" alt="" class="sectionImg">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laudantium ducimus aperiam illum quia error magnam veritatis quaerat neque facere.</p>
                    </div>

                    <div class="theLastCodes">
                        <ul class="theLastCodesUl">
                            <li><a href="">dfgffdgdf</a></li>
                            <li><a href="">dfgffdgdf</a></li>
                            <li><a href="">dfgffdgdf</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="yağatik" class="atiksection">
                <div class="titlesection">
                    <h1>Yağ atıkları</h1>
                </div>
                <div class="middlesection">
                    <div class="contentOfSection">
                        <img src="../imgs/SDG Wheel_WEB.png" alt="" class="sectionImg">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laudantium ducimus aperiam illum quia error magnam veritatis quaerat neque facere.</p>
                    </div>

                    <div class="theLastCodes">
                        <ul class="theLastCodesUl">
                            <li><a href="">dfgffdgdf</a></li>
                            <li><a href="">dfgffdgdf</a></li>
                            <li><a href="">dfgffdgdf</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="pilatik" class="atiksection">
                <div class="titlesection">
                    <h1>Atık pil ve akü</h1>
                </div>
                <div class="middlesection">
                    <div class="contentOfSection">
                        <img src="../imgs/SDG Wheel_WEB.png" alt="" class="sectionImg">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laudantium ducimus aperiam illum quia error magnam veritatis quaerat neque facere.</p>
                    </div>

                    <div class="theLastCodes">
                        <ul class="theLastCodesUl">
                            <li><a href="">dfgffdgdf</a></li>
                            <li><a href="">dfgffdgdf</a></li>
                            <li><a href="">dfgffdgdf</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="elektronikatik" class="atiksection">
                <div class="titlesection">
                    <h1>Atık elektrikli elektronik atıklar</h1>
                </div>
                <div class="middlesection">
                    <div class="contentOfSection">
                        <img src="../imgs/SDG Wheel_WEB.png" alt="" class="sectionImg">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laudantium ducimus aperiam illum quia error magnam veritatis quaerat neque facere.</p>
                    </div>

                    <div class="theLastCodes">
                        <ul class="theLastCodesUl">
                            <li><a href="">dfgffdgdf</a></li>
                            <li><a href="">dfgffdgdf</a></li>
                            <li><a href="">dfgffdgdf</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="bitkiselatik" class="atiksection">
                <div class="titlesection">
                    <h1>Bitkisel atık yağ</h1>
                </div>
                <div class="middlesection">
                    <div class="contentOfSection">
                        <img src="../imgs/SDG Wheel_WEB.png" alt="" class="sectionImg">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laudantium ducimus aperiam illum quia error magnam veritatis quaerat neque facere.</p>
                    </div>

                    <div class="theLastCodes">
                        <ul class="theLastCodesUl">
                            <li><a href="">dfgffdgdf</a></li>
                            <li><a href="">dfgffdgdf</a></li>
                            <li><a href="">dfgffdgdf</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="biyobozunuratik" class="atiksection">
                <div class="titlesection">
                    <h1>Biyobozunur atık</h1>
                </div>
                <div class="middlesection">
                    <div class="contentOfSection">
                        <img src="../imgs/SDG Wheel_WEB.png" alt="" class="sectionImg">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laudantium ducimus aperiam illum quia error magnam veritatis quaerat neque facere.</p>
                    </div>

                    <div class="theLastCodes">
                        <ul class="theLastCodesUl">
                            <li><a href="">dfgffdgdf</a></li>
                            <li><a href="">dfgffdgdf</a></li>
                            <li><a href="">dfgffdgdf</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="lastikatik" class="atiksection">
                <div class="titlesection">
                    <h1>Atık lastik</h1>
                </div>
                <div class="middlesection">
                    <div class="contentOfSection">
                        <img src="../imgs/SDG Wheel_WEB.png" alt="" class="sectionImg">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laudantium ducimus aperiam illum quia error magnam veritatis quaerat neque facere.</p>
                    </div>

                    <div class="theLastCodes">
                        <ul class="theLastCodesUl">
                            <li><a href="">dfgffdgdf</a></li>
                            <li><a href="">dfgffdgdf</a></li>
                            <li><a href="">dfgffdgdf</a></li>
                        </ul>
                    </div>
                </div>
            </section>
            

        </div>
        

    </div>
    

{% endblock body %}