{% extends "layout.html" %}
{% block body %}
{% load static %}
        <link rel="stylesheet" href="{% static 'atikcode.css' %}">
        <style>

                /* 
                .container-main{
                     
                       
                background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.5)),url("{% static 'imgs/nareta.jpg' %}");
                background-size: cover;
                 animation: move; 
                animation-timing-function: ease;
                animation-delay: 0s;
                animation-duration: 2s;
                min-height: 100vh;
                animation-fill-mode: forwards;


                 }

                 @keyframes move {
                         from{
                                 transform: translateY(0) ;
                                 
                                
;
                         }
                         to{
                                 transform: translateY(-75px) ;
                         }
                        
                         

                 }
                 @keyframes move2 {
                         from{
                                 transform: translateY(0) translateX(0);
                         }
                         to{
                                 transform: translateY(75px)  ;
                                 
                         }
                        
                         

                 }
                 .directoryPart{
                        animation: move2;
                        animation-timing-function: ease;
                        animation-delay: 0s;
                        animation-duration: 2s;
                        position: absolute;
                        animation-fill-mode: forwards;
                        background-color: #f5f5f5;
                        opacity: 0.8;
                        border-radius: 0.3rem;
                        padding: 1rem;
                        height: 80%;
                        


                         
                 }
                 .color{
                         opacity: 1;
                        

                 }
                 .btn{
                         border: 2px solid black;
                         height: 2rem;
                         width: 5rem;
                         padding: 0;
                         display: flex;
                         justify-content: center;
                         align-items: center;
                         background-color: RGB(68, 184, 172);
                         opacity: 1;
                         border-radius: 0.5rem;

                 }
                 btn a:hover{
                         background-color: white;
                         color:RGB(68, 184, 172) ;
                 }
                
                  */

                /* .title-part{
                        margin-top: 7vh;
                        margin-bottom: 1rem;
                        height: 3rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                } */
                .top-part{
                        /* margin-top: 10vh; */
                        margin-top: 7vh;
                        height: 3rem;
                        display: flex;
                        justify-content: space-between;
                        /* background-color: #dddfd4; */
                        background-color: whitesmoke;


                }
                .top-part-c{
                        
                        height: 3rem;
                        width: auto;
                        margin: 0 4rem;
                }
                .middle-part{
                        
                        margin-top: 2rem;
                        display: flex;
                        justify-content: center;
                }
                .middle-part-c{
                        /* border-top: 5px solid #4d4d4d; */
                        /* background-color:#F8F8FF ; beyazımsı */
                        /* background-color:#9fa8a3 ; */
                        /* background-color:#E3E3E3 ; */
                       /*  background-color:#dddfd4 ; */
                        /* background-color:#dddfd4; */
                        background-color: whitesmoke;
                        min-height: 60vh;
                        width:95vw;
                        padding: 1rem;
                        border-radius: 0.8rem;
                
                }
                .h-class{
                        font-weight: bold;
                        font-size: 2rem;
                }
                .p-class{
                        font-weight: bold;
                        font-size: larger;
                        margin-top: 0.7rem;
                }
                .button-part{
                        margin-left: 3rem;
                        margin-top: 5rem;
                        display: flex;
                        justify-content: space-around;
                }
                .button-part a{
                        background-color: #828282;
                        height: 3.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 20rem;
                        border-radius: 0.2rem;
                        transition: background 1.5s;
                }
                .button-part a div{
                        color: white;
                }
                .button-part a:hover{
                        background-color: #6B6B6B;
                }
                @media (max-width: 850px){
                        .top-part{
                                margin: 0;
                                height: 2rem;
                                justify-content: space-around;

                        }
                        .top-part-c{
                                height: 1.5rem;
                                margin-top: 0.3rem;
                        }
                        .middle-part{
                                margin-top: 1rem;
                        }
                        .h-class{
                                font-size: 1.5rem;
                        }
                        .p-class{
                                font-size: 1rem;
                        }
                        .button-part{
                        margin-left: 1rem;
                        margin-top: 2rem;
                        display: flex;
                        flex-direction: column;
                        
                }
                .button-part a{
                        font-size: 0.7rem;
                        height: 2.5rem;
                        width: 15rem;
                        margin: 1rem;
                }




                }
                @media screen and (min-width:850px) and (max-width:1100px){
                        .button-part{
                        margin-left: 1rem;
                        margin: 1rem;
                        margin-top: 2rem;
                        display: flex;
                        flex-direction: column;
                        }
                        .button-part a{
                        font-size: 0.7rem;
                        height: 2.5rem;
                        width: 15rem;
                        margin: 1rem;
                }       


                }

        </style>


        <div class="container-main" style="min-height: 100vh;">
                <div class="container">
                        <!-- <div class="title-part">
                                <h1 class="title-part-h" >ATIK KÜTÜPHANESİ</h1>
                        </div> -->
                        <div class="top-part">
                                <img class="top-part-c" src="{%static 'imgs/biglogo2.png'%}" alt="" srcset="">
                                <img class="top-part-c" src="{%static 'imgs/logoguncel3v.png'%}" alt="" srcset="">
                        </div>
                        <div class="middle-part">
                                <div class="middle-part-c">
                                        <h2 class="h-class">Atık Kütüphanesi’ne hoşgeldiniz!</h2>
                                        <p class="p-class">Oluşturulan bu dijital kütüphane hizmeti ile atık yönetiminize yardımcı olunması amaçlanmıştır. Ürettiğiniz atığın yönetimini; atık türleri üzerinden kontrol edebilir veya bulunduğunuz sektör başlığı altından atık kodunu bularak, bilgi formlarına ulaşabilirsiniz. Bunlara ek olarak, atığınızın kodunu biliyorsanız, aşağıda bulunan menü yardımı ile bilgi formlarına direkt ulaşım sağlayabilirsiniz.</p>
                                        <div class="button-part">
                                                <a href="http:www.atikkutuphanesi.com/wastenavigation/#part1"><div>Atık kodu ile arama yapacağım</div></a>
                                                <a href="http://127.0.0.1:8000/wastenavigation/#part2"><div>Sektörüme göre arama yapacağım</div></a>
                                                <a href="http://127.0.0.1:8000/wastenavigation/#part3"><div>Atık türüne göre arama yapacağım</div></a>
                                        </div>
                                </div>
                        </div>
                        <div class="footer-part"></div>
                </div>

        </div>










      
               <!--  <div class="container-main" style="min-width:100vw; min-height:100vh;  ">
                        <div class="directoryPart" style="margin-left: 3rem; max-width: 80vw;  "  >
                                <h1 class="color">Hoşgeldiniz</h1>
                                <p class="color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt necessitatibus voluptas dignissimos voluptatem itaque nihil praesentium optio ut temporibus magni quis, aliquid fuga, consequuntur qui natus veritatis ea beatae vero debitis reprehenderit aliquam possimus. Obcaecati molestiae eaque nam blanditiis explicabo distinctio sequi voluptatibus eveniet, odit totam eligendi eum accusantium repudiandae quis autem consequuntur magni ex nesciunt facere labore possimus in? Neque consectetur, magnam reprehenderit repellat nostrum quibusdam similique nesciunt sed dolor totam. Aliquid id quisquam inventore voluptate quam cumque nulla autem quo voluptatem rerum? Debitis doloremque reprehenderit perspiciatis quia, dolor accusantium fugit. Voluptatum, vitae quisquam? Maiores error autem adipisci a!</p>
                                <a  style="color: red ;" href="http://127.0.0.1:8000/wastenavigation/#part1"><div class="btn">click</div></a>
                                <hr>
                                <p class="color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, ad neque! Adipisci odio expedita laboriosam. At ad maxime dicta debitis dignissimos sapiente amet iste? Distinctio quod sequi aperiam incidunt veniam!</p>
                                <a  style="color: red ;" href="http://127.0.0.1:8000/wastenavigation/#part2"><div class="btn">click</div></a>
                                <hr>
                                <p class="color">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus suscipit nisi voluptates, iure maxime enim. Optio debitis fugiat, ducimus voluptas odio nam esse deleniti quis, impedit doloribus hic perspiciatis rerum.</p>
                                <a  style="color: red ;" href="http://127.0.0.1:8000/wastenavigation/#part3"><div class="btn">click</div></a>
                
                
                            </div>
                            -->
                            
                
                
                

       
        


{% endblock body %}