{% extends "layout.html" %}

{% block body %}
{% load static %}
        <link rel="stylesheet" href="{% static 'atikcode.css' %}">

  <div class="homeform">
        <div class="titlehomepage">
            <h3 class=" atikcode">

                ATIK KODU
            </h3>
            <img src="{% static 'imgs/biglogo.jpg' %}" alt="" srcset="">

        </div>
        
        <hr>
        <div class="containerMain">
           
            <div class="dropPart">
                <form action="" class="dropForm">
                    <div class="dropTitle">
                        <h3>atık kodunuzu seçiniz.</h3>
                    </div>
                    <div class="dropMiddle">
                        <select  name="" class="dropselect" id="drop1">
                            <option selected value="">seçiniz.</option>
                           
                            
                        </select>
                        <select name="" class="dropselect" id="drop2"> 
                        <option value="">seçiniz</option>                          
                        </select>

                        <div  class="codes">
                            <div class="lastCodes">
                                <ul class="codeUl">
                                    <li><a href="#">01-01-01 1393</a></li>
                                     <li><a href="#">01-01-02 13234</a></li>
                                     <li><a  href="#">01-01-03 1334543</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <!-- buttons part -->
             <div class="formDiv">
                <h5>hangi atık üreticisi tipi sizi tanımlıyor?</h5>
               <div id="form">

                <div class="button-main">
                    <div style="background-color: rgb(221, 166, 58);" class="buttonWithDrop" id="button1"> Maden Atıkları</div>
                    <div class="block"  >
                        <a href="">Metal madenciliği</a>
                        <a href="">Diğer madenler</a>
                        
                    </div>
                </div>
                <div class="button-main">
                    <a href="wwww.google.com"><div style="background-color: rgb(229, 36, 59);" id="button1"  > Tarım/Hayvancılık</div></a>
                   
                </div>
                <div class="button-main">
                    <div style="background-color: rgb(255, 58, 33);"  class="buttonWithDrop" id="button1"> Endüstri tesisi atıkları</div>
                    <div class="block"  >
                        <a href="">İmalat sanayi</a>
                        <a href="">Termik santral</a>
                        
                    </div>
                </div>
                <div class="button-main">
                    <a href="wwww.google.com"><div style="background-color: rgb(38, 189, 226); " id="button1"  >İnşaat atıkları</div></a>
                    
                </div>
                <div class="button-main">
                    <a href="wwww.google.com"><div style="background-color: rgb(253, 105, 37);" id="button1"  >Sağlık kuruluşu/Veteriner atıkları</div></a>
                    
                </div>
                <div class="button-main">
                    <div style="background-color: rgb(25, 72, 106);" class="buttonWithDrop" id="button1">Atık/Atık su/Su yönetim tesisleri atıkları </div>
                    <div class="block"  >
                        <a href="">Arıtma tesisi</a>
                        <a href="">Atık yakma tesisi</a>
                        <a href="">Akü geri kazanım tesisi</a>
                        <a href="">Geri dönüşüm ve diğer</a>

                    </div>
                </div>
                <div class="button-main">
                    <a href="http://127.0.0.1:8000/atikuretimi/3"><div style="background-color: rgb(0, 104, 157);" id="button1"  >Eğitim kurumları/Yurt atıkları </div></a>
                    
                </div>
                <div class="button-main">
                    <a href="wwww.google.com"><div style="background-color: rgb(197, 25, 45);" id="button1"  >Terminallerde oluşan atıklar </div></a>

                </div>
                <div class="button-main">
                    <a href="wwww.google.com"><div style="background-color: rgb(10, 151, 217);" id="button1"  >Ev/apartman/site atıkları </div></a>
                    
                </div>
                <div class="button-main">
                    <a href="wwww.google.com"><div style="background-color: rgb(79, 159, 56);" id="button1"  >Kamu kurumu atıkları</div></a>
                    
                </div>
                <div class="button-main">
                    <div class="buttonWithDrop" style="background-color: rgb(252, 195, 11);" id="button1">Hizmet sektörü atıkları</div>
                    <div class="block"  >
                        <a href="">Liman işletmeleri</a>
                        <a href="">Alış-veriş merkezi/iş merkezi/ticari plaza/zincir market</a>
                        <a href="">Akaryakıt istasyonu</a>
                        <a href="">Turistik tesis/Dinlenme tesisi/Restoranlar</a>
                        <a href="">Araç tamirhaneleri</a>
                    </div>
                </div>
                <div class="button-main">
                    <a href="wwww.google.com"><div style="background-color: rgb(28, 96, 9);" id="button1"  >Askeri birlikler</div></a>
                    
                </div>
                
               </div>
                
            </div>
        </div>
        
        
        </div>
      
      
<script src="{% static 'js/drop.js' %}"></script>
<script src="{% static 'js/button.js' %}"></script>

{% endblock body %}