
.mainMain{
    display: flex;
    justify-content: center;
}
.mainOfLastCode{
    min-height: 70vh;
    width: 80vw;
    display: flex;
   /*  justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 2px solid green;
}


/* deneme kısmı */
.itsType{
    background-color: green;
    width: 80%;
    height: 2rem;
    margin: 0.5rem;
    color: white;

}
.atikKind{
    width: 80%;
    min-height: 3rem;
    display: flex;
    margin: 2rem;
    
}
.typeOne,.typeTwo,.typeThree{
    padding: 0.5rem;
    height: 100%;
    flex: 1;
    border: 1px solid green;

}
.symbol{
    display: flex;
    width: 80%;
    min-height: 6rem;

}
.symbolPhoto{
    flex: 1;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contentOfSymbol{
    padding: 0.5rem;
    flex: 3;
    border: 1px solid green;
}
.tehlike{
    margin: 0;
    height: auto;
    width: auto;
}
.whereAccurs{
    width: 80%;
    margin: 2rem;
}
.howDefined{
    width: 80%;
    margin: 2rem;
}
.whichLegislation{
    width: 80%;
    margin: 2rem;
}
.howToReduce{
    width: 80%;
    margin: 2rem;
}
.howToCollect{
    width: 80%;
    margin: 2rem;
}
.secondPhoto{
    width: 80%;
    margin: 2rem;

}
.secondPhoto p{
    color: red;
}
.howToTrasport{
    width: 80%;
    margin: 2rem;

}
.howToTrasport a{
    color: red;
}

.whereGo{
    width: 80%;
    margin: 2rem;
    margin-bottom: 4rem;
    


}
.whereGo a{
    color: red;
}


